<html>
    <head>
        <title>Match Making Website</title>
    </head>
    <body>
        <h1> Your Profile</h1>
        <form method="POST">
            <input name = "item_text" id="id_new_profile"  placeholder="Enter your profile info" />
            {% csrf_token %}
        </form>
        <table id="id_profile_table">
            {% for item in items %}
<!--                <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>  -->
                <tr><td>{{ item.text }}</td></tr>
            {% endfor %}
        </table>

    </body>
</html>